[Desktop Entry]
Type=Application
Name=Voice Assistant Controller
Exec=/home/sysadmin/smart-cart/Controllers/va_controller/venv/bin/python /home/sysadmin/smart-cart/Controllers/va_controller/va_controller.py
Path=/home/sysadmin/smart-cart/Controllers/va_controller
X-GNOME-Autostart-enabled=true

