[Unit]
Description=Barcode Scanner Controller
After=network.target

[Service]
Type=simple
User=sysadmin
WorkingDirectory=/home/sysadmin/smart-cart/Controllers/bs_controller
EnvironmentFile=/home/sysadmin/smart-cart/Controllers/bs_controller/.env
ExecStart=/home/sysadmin/smart-cart/Controllers/bs_controller/venv/bin/python bs_controller.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

